<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Taltech</title>
	<link rel="icon" href="/assets/img/logo.jpg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<link rel="stylesheet" href="/assets/css/animate.css">

	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">

	<link rel="stylesheet" href="/assets/css/themify-icons.css">

	<link rel="stylesheet" href="/assets/css/flaticon.css">

	<link rel="stylesheet" href="/assets/css/magnific-popup.css">

	<link rel="stylesheet" href="/assets/css/slick.css">
	<link rel="stylesheet" href="/assets/css/all.css">

	<link rel="stylesheet" href="/assets/css/style.css">

	<%- defineContent('links') %>

</head>
<body style="overflow-x: hidden;">

	
	<!-- Main -->
	<%- body %>

	<script src="/assets/js/jquery-1.12.1.min.js"></script>
	<script src="/assets/js/popper.min.js"></script>
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/jquery.magnific-popup.js"></script>
	<script src="/assets/js/swiper.min.js"></script>
	<script src="/assets/js/masonry.pkgd.js"></script>
	<script src="/assets/js/owl.carousel.min.js"></script>
	<script src="/assets/js/jquery.counterup.min.js"></script>
	<script src="/assets/js/waypoints.min.js"></script>
	<script src="/assets/js/owl.carousel2.thumbs.min.js"></script>
	<script src="/js/jquery.form.js"></script>
	<script src="/assets/js/contact.js"></script>
	<script src="/assets/js/slick.min.js"></script>
	<script src="/assets/js/custom.js"></script>
	<script src="/assets/js/script.js"></script>


    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <script src="/vendors/js/vendor.bundle.addons.js"></script>

	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-23581568-13');
	</script>

	<!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Sweetalert -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

    <script type="text/javascript" src="/js/main.js"></script>

	<!-- <script defer src="../../../static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"rayId":"5ffc8abf0c58e698","version":"2020.12.0","si":10}'></script> -->
</body>
</html>