<!doctype html>
<html lang="en">
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Taltech</title>
<link rel="icon" href="/assets/img/logo.jpg">
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

<link rel="stylesheet" href="/assets/css/animate.css">

<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">

<link rel="stylesheet" href="/assets/css/themify-icons.css">

<link rel="stylesheet" href="/assets/css/flaticon.css">

<link rel="stylesheet" href="/assets/css/magnific-popup.css">

<link rel="stylesheet" href="/assets/css/slick.css">
<link rel="stylesheet" href="/assets/css/all.css">

<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/css/nav.css">
<style>
.terms{
    padding-top: 30px;
    padding-bottom: 30px;
}
    .terms p{
        color: #000;
        font-size: 17px;
    }
    .terms h2{
        padding-bottom: 10px;
    }
</style>
</head>
<body>
<!-- nav -->
<header class="main_menu">
<div class="container">
<div class="row align-items-center">
<div class="col-lg-12">
<nav class="navbar navbar-expand-lg navbar-dark">
<a class="navbar-brand" href="/"> 
  <img src="/assets/img/logo.jpg" style="width: 100px;" alt="logo"> 
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse main-menu-item justify-content-end" id="navbarSupportedContent">
<ul class="navbar-nav">
<li class="nav-item ">
<a class="nav-link" href="/" style="color: #fff;">Home</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="/about">About</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/feature">Featured Properties</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/rentals">Rentals</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/contact">Contact</a>
</li>
</ul>
<a href="/signup" class="btn btn-primary">Sign Up</a>
<a href="/login" class="btn btn-outline-primary">Login</a>
</div>
</nav>
</div>
</div>
</div>
</header>



<section class="breadcrumb breadcrumb_bg">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="breadcrumb_iner text-center">
<div class="breadcrumb_iner_item">
<h2>Terms & Conditions</h2>
</div>
</div>
</div>
</div>
</div>
</section>

<div class="terms">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 m-auto">

                <h2 class="mb-4">TERMS & CONDITIONS - TALCTECH NGR LTD.</h2>
                <ul class="nav flex-column" style="list-style: decimal;">
                    <li class="nav-item mb-3">
                        <p>
                            Landlord Users, Tenant Users and Short-Term Renters agree to
                            conduct their activities in a lawful manner and in a manner that
                            doesn’t breach any of the laws of the Federal Republic of Nigeria. Any breach of this condition shall result in suspension or termination
                            of the user account of the breaching party.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Landlord User agrees that he or she is the bonafide owner of the
                            property being posted for rental or that he is posting the property on
                            behalf of and with the knowledge of the owner of the property. Any
                            breach of this condition shall result in suspension of the user account
                            until the breaching party shows that the landlord of the property has
                            knowledge of the posting.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Landlord User agrees that if he’s not the bonafide owner of the
                            property, he’s a bonafide tenant of the property being posted for
                            rental and he’s simply sub-letting his own rental unit on this website.
                            If Landlord User is a bonafide tenant of the property being posted for
                            rental, “condition 2” above doesn’t affect you and you’ll not be
                            penalized for breaching “condition 2”.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Executive Feature Tenants shall have the right to unlimited online
                            viewing of properties of both Landlord properties and Short-Term
                            Renter properties, and in furtherance of this right, staff of TalcTech
                            Ngr Ltd shall view these properties and send photos or videos to the
                            Executive Feature Tenant as needed.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Short-Term Renter agrees that the accommodation that is put up for
                            rental shall be made available to the overnight customer latest by
                            2:00pm of the day of the booking and that the accommodation shall
                            be available to the overnight customer up to 11:00am of the day of
                            checkout. Breach of this condition shall result to at least one-month
                            suspension of the breaching party from this platform and repeated
                            breach of this term will result in termination of the user account of
                            the breaching party.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Short-Term Renter agrees that any accommodation rented on this
                            platform shall be in very good, habitable condition and shall be
                            maintained according to the minimum standards that TalcTech Ngr
                            Ltd shall require of him or her from time to time. Breach of this
                            condition shall result in suspension of the user account of the
                            breaching party.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Short-Term Renter agrees that his rental accommodation shall
                            always be available for viewing by staff of TalcTech Ngr Ltd (upon
                            being given a one hour notice), that there shall be no interference on
                            the activities of our staff, that our staff shall be allowed to take
                            pictures & videos all parts of the property during the viewing, answer
                            questions raised by our staff, and that the rental accommodation
                            shall remain in the same state it was at the time of viewing at the
                            time the overnight customer checks into the accommodation. Breach
                            of this could result in removal of property posting or suspension of
                            the breaching party for a time determined at our discretion.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Landlord Users, Tenant Users and Short-Term Renters agree that
                            TalcTech Nigeria Limited reserves the right to amend, make
                            additions, or make subtractions to these “Terms & Conditions” after
                            giving a 21 days notice to that effect. 
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Landlord Users, Tenant Users and Short-Term Renters agree that
                            TalcTech Nigeria Limited shall not be responsible for any crime or
                            fraud committed by any of the users on this platform. We hereby
                            disclaim all liability, including vicarious liability, that may arise as a
                            result of actions or inactions of users of this platform.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Landlord Users, Tenant Users and Short-Term Renters agree that
                            they shall take necessary precautions to verify all statements, representations and information made or given by any of the users
                            of this platform, that they shall thoroughly take all precautions
                            during their dealings with other users of this platform.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Landlord User agrees that his rental accommodation shall always be
                            available for viewing by staff of TalcTech Ngr Ltd (upon being given a
                            one hour notice), that there shall be no interference on the activities
                            of our staff, and that our staff shall be allowed to take pictures &
                            videos all parts of the property during the viewing, answer questions
                            raised by our staff. Breach of this condition could result in removal of
                            the property posting and suspension of the Landlord User.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Landlord User, Tenant Users and Short-Term Renters authorize
                            TalcTech Nigeria Limited to charge them monthly user account fees
                            & charges as required by our company, and to charge a penalty fee
                            (not more than 18 months monthly fees) in the event that the
                            monthly fees are not paid for more than two months.
                        </p>
                    </li>

                    <li class="nav-item mb-3">
                        <p>
                            Tenant User agrees not to engage in acts of harassment of Landlord
                            Users and Short-Term Renters on this platform.
                        </p>
                    </li>

                    <li class="nav-item">
                        <p>
                            Landlord User, Tenant Users and Short-Term Renters agree to waive
                            all rights to sue TalcTech Nigeria Limited for any harm suffered as a
                            result of any information gotten from this platform or from any
                            other TalcTech platform and also agree to waive all liabilities against
                            TalcTech Nigeria Limited for any harm suffered as a result of use of
                            this platform or any other TalcTech platform.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="mt-4">
              <a href="/signup" class="btn btn-primary">Continue</a>
        </div>
    </div>
</div>

<!-- footer -->
<footer class="footer-area">
<div class="container">
<div class="row justify-content-between">
<div class="col-sm-6 col-md-6 col-xl-3">
<div class="single-footer-widget footer_1">
<a href="/"> 
  <img src="/assets/img/logo.jpg" style="width: 100px;" alt=""> 
</a>
<p>But when shot real her. Chamber her one visite removal six
sending himself boys scot exquisite existend an </p>
</div>
</div>
<div class="col-sm-6 col-md-6 col-xl-4">
<div class="single-footer-widget footer_2">
<h4>Newsletter</h4>
<p>Stay updated with our latest trends Seed heaven so said place winged over given forth fruit.
</p>
<form action="#">
<div class="form-group">
<div class="input-group mb-3">
<input type="text" class="form-control" placeholder='Enter email address' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
<div class="input-group-append">
<button class="btn" type="button"><i class="ti-angle-right"></i></button>
</div>
</div>
</div>
</form>
<div class="social_icon">
<a href="#"> <i class="ti-facebook"></i> </a>
<a href="#"> <i class="ti-twitter-alt"></i> </a>
<a href="#"> <i class="ti-instagram"></i> </a>
<a href="#"> <i class="ti-skype"></i> </a>
</div>
</div>
</div>
<div class="col-sm-12 col-md-8 col-xl-3">
<div class="single-footer-widget footer_3">
<h4>Contact</h4>
<p>Bourdillon Court Estate, Chevron Drive, Lekki, Lagos State.</p><br>
<p> talctechpro202@yahoo.com </p><br>
<p> info@talctechng.com</p>
</div>
</div>
</div>
</div>
<div class="container-fluid">
<div class="row">
<div class="col-lg-12">
<div class="copyright_part_text text-center">
<div class="row">
<div class="col-lg-12">
<p class="footer-text m-0">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> <a href="#">Taltech</a> - All Rights Reserved
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</footer>



<script src="/assets/js/jquery-1.12.1.min.js"></script>

<script src="/assets/js/popper.min.js"></script>

<script src="/assets/js/bootstrap.min.js"></script>

<script src="/assets/js/jquery.magnific-popup.js"></script>

<script src="/assets/js/swiper.min.js"></script>

<script src="/assets/js/masonry.pkgd.js"></script>

<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/owl.carousel2.thumbs.min.js"></script>

<script src="/assets/js/slick.min.js"></script>

<script src="/assets/js/custom.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/kanox/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 11 Dec 2020 04:43:34 GMT -->
</html>