<%- include("../../partials/admin_header") %>
<%- include("../../partials/admin_sidebar") %>
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        Dashboard
      </h3>
      <%- include("../../partials/breadcrumb") %>
    </div>
    <div class="row">
      
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">  </h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-md-flex">
                  <h5 class="mb-0">2</h5>
                </div>
              </div>
              <div class="d-inline-block">
                <i class="fas fa-user text-info icon-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0"> Landlords</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-md-flex">
                  <h5 class="mb-0">5</h5>
                </div>
              </div>
              <div class="d-inline-block">
                <i class="fas fa-users text-info icon-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">Executive Tenants </h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-md-flex">
                  <h5 class="mb-0">3</h5>
                </div>
              </div>
              <div class="d-inline-block">
                <i class="fas fa-user text-info icon-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">Short Term Renters </h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-md-flex">
                  <h5 class="mb-0">4</h5>
                </div>
              </div>
              <div class="d-inline-block">
                <i class="fas fa-users text-info icon-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">Properties </h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-md-flex">
                  <h5 class="mb-0">45</h5>
                </div>
              </div>
              <div class="d-inline-block">
                <i class="fas fa-building text-info icon-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title mb-0">Requests </h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-inline-block pt-3">
                <div class="d-md-flex">
                  <h5 class="mb-0">12</h5>
                </div>
              </div>
              <div class="d-inline-block">
                <i class="fas fa-shopping-cart text-info icon-lg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <%- include("../../partials/footer") %>